header
   nav(class="navbar navbar-default")
      div(class="container-fluid")
         div(class="navbar-header")
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
               span(class="icon-bar")
               span(class="icon-bar")
               span(class="icon-bar")
            a(href="/" class="navbar-brand") CSE Laser Tag
         div(class="collapse navbar-collapse")
            ul(class="nav navbar-nav navbar-right")
               li
                  a(href="/")
                     i(class="fa fa-home")
                     |  Home
               li
                  a(href="/games/")
                     i(class="fa fa-gamepad")
                     |  Games
               li
                  a(href="/teams/")
                     i(class="fa fa-users")
                     |  Teams
               li
                  a(href="/guns/")
                     i(class="fa fa-user")
                     |  Users
               li
                  a(href="/statistics/")
                     i(class="fa fa-bar-chart")
                     |  Statistics
