doctype html
html(ng-app="laserTagAdminApp")
	head
		title="CSE Laser Tag"
		link(rel='stylesheet' href='/css/style.css')
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/font-awesome.min.css")
		script(src="/js/dependencies.js")
		script(src="/js/LaserTagServer.js")
	body
		include ./includes/header.jade
		block content
		include ./includes/footer.jade
